
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



html, body {
  padding:0; 
  margin:0; 
  height:100%;
  -display: flex;
  -min-height: 100vh;
  -flex-direction: column;
  width: 100%;
}


#header-image  {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index:-1;
}

#header-image  img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.65;

}

div {
  display: block;
}

#container {
  display: block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  height: 100%;
  margin: 0 auto -142px;
  -flex: 1;

}

#primary-navigation {
  -background: black; 
  text-align: center;
}

#primary-navigation li{
  display: inline-block;
  padding: 0px 10px;
  vertical-align: middle;
}

#primary-navigation a {
    border-bottom: 3px solid transparent;    
    color: black;
    display: inline-block;
    padding-bottom: 3px;
    text-decoration: none;
    transition: border .2s ease-in-out;
}

#primary-navigation a:hover {
    background-color: #ddd;
    color: white;
}


ul {
  display: block;
  list-style: none;
  white-space: nowrap;
  vertical-align: baseline; 
}

#information {
  -background: gray;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 50px;
  text-align: center;
  width: 40%;
  
}

/* ********************** */
/*  Services */
/* Style Table  */

#overnight {
	padding: 20px;
  padding-left: 100px;
  text-align: center;
}

th,td
{
	margin: 0;
	text-align: center;
	border-collapse: collapse;
	outline: 1px solid #e3e3e3;
}

td
{
	padding: 5px 10px;
	color: black;
}
tr {
font-size: 25px;
}

th
{
	background: #666;
	color: white;
	padding: 5px 10px;
}

#ServicesParagraph {
  text-align: left;
  padding: 30px;
  padding-left: 100px;
}

#ServicesParagraph ul {
  padding: 10px;
}
.ServicesList{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
  text-align: center;
  width: 100%;
}






/* ********************** */
/*  Location */

#location-info {
  height: 100%;
}

#location-img {
  border: 1px solid black;
  float: left;
  margin: 10px;
  padding: 10px;
  width: 70%;
}

.titleOfArea {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
  margin: 7%;
  text-align: right;
}

.paragraphofArea {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#location-info p {
  padding: 10px;
  padding-left: 77%;
}

/* ********************** */
/*  about */

#about-info {
  height: 100%;
    padding-top: 100px;

}

#about-img {
  border: 1px solid black;
  float: left;
  margin: 10px;
  padding: 10px;
  width: 30%;
}

.titleofAbout {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 150%;
  margin: 7%;
  text-align: center;
}

.paragraphofAbout {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#about-info p {
  padding: 40px;
  padding-left: 33%;
  
}



/* ***************************** */
/* CONTACT */
@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);



h1{
  font-size: 2.5em;
	margin: 0 auto;
	margin-top: 50px;
	width: 770px;
	color: black;
	text-align: center;
  padding-bottom: 30px;
}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

#form{
	height: 100%;	
	-overflow: hidden;
	position: relative;
	padding-bottom: 130px;
}

form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: black;
	position: relative;
}

label, input, textarea{
	display: block;	
  height:100%;
}
input, textarea{
  background: #666666;
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	-font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: black;
  /*#676767;*/
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	 box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: black; 
  /*#e58f0e;*/
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}



/* ********************** */
/* FOOTER */




#footerbody{
  background: black;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 100px;
  font: inherit;   
  -margin: 0;
  padding: 10px;
  text-align: center;    
  -width: 100%;
}

#footerbody a{
  color: white;
  text-decoration: none;
  padding: 5px 20px;  
}

#footerbody p {
  color: white;
  text-align: center;
}